workflows/andrew-ops-report.json
{
  "name": "Andrew - Ops Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "andrew/report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "andrew-report"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst client_id = body.client_id;\nif (!client_id) throw new Error('Missing required field: client_id');\n\nconst validTypes = ['weekly', 'monthly'];\nconst reportType = (body.report_type || 'weekly').toLowerCase();\nif (!validTypes.includes(reportType)) throw new Error('Invalid report_type. Must be: weekly or monthly');\n\nreturn [{ json: {\n  client_id,\n  report_type: reportType,\n  include_costs: body.include_costs !== false\n}}];"
      },
      "id": "a1-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://agenticmakebuilder-production.up.railway.app/costs/summary?client_id={{ $json.client_id }}",
        "options": { "timeout": 30000 }
      },
      "id": "a1-costs",
      "name": "GET Cost Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const costData = $input.first().json;\nconst validated = $('Validate Input').first().json;\n\nreturn [{ json: {\n  persona: 'andrew',\n  client_id: validated.client_id,\n  report_type: validated.report_type,\n  include_costs: validated.include_costs,\n  cost_data: costData || {}\n}}];"
      },
      "id": "a1-merge",
      "name": "Merge Cost Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 60000 }
      },
      "id": "a1-http",
      "name": "POST Persona Andrew",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst validated = $('Validate Input').first().json;\nconst costData = $('GET Cost Summary').first().json;\n\nconst narrative = res.message || res.response || res.content || 'Operations report generated by Andrew persona';\n\nconst totalCost = costData.total_cost || costData.totalCost || 0;\nconst avgMargin = costData.avg_margin || costData.avgMargin || 0;\n\nconst report = [\n  '# Operations Report — ' + validated.report_type.charAt(0).toUpperCase() + validated.report_type.slice(1),\n  '',\n  '**Client:** ' + validated.client_id,\n  '**Period:** ' + validated.report_type,\n  '**Generated:** ' + new Date().toISOString(),\n  '',\n  '## Summary',\n  narrative,\n  ''\n];\n\nif (validated.include_costs) {\n  report.push('## Cost Breakdown');\n  report.push('- **Total Cost:** $' + Number(totalCost).toFixed(2));\n  report.push('- **Avg Margin:** ' + Number(avgMargin).toFixed(1) + '%');\n  report.push('');\n}\n\nreturn [{ json: {\n  report_markdown: report.join('\\n'),\n  total_cost: Number(totalCost).toFixed(2),\n  avg_margin: Number(avgMargin).toFixed(1),\n  period: validated.report_type,\n  client_id: validated.client_id,\n  generated_at: new Date().toISOString()\n}}];"
      },
      "id": "a1-transform",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      },
      "id": "a1-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "GET Cost Summary", "type": "main", "index": 0 }]] },
    "GET Cost Summary": { "main": [[{ "node": "Merge Cost Data", "type": "main", "index": 0 }]] },
    "Merge Cost Data": { "main": [[{ "node": "POST Persona Andrew", "type": "main", "index": 0 }]] },
    "POST Persona Andrew": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
