workflows/cost-weekly-report.json
{
  "name": "Cost Weekly Report - Monday 9am",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cw-schedule",
      "name": "Every Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/costs/report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ period: 'weekly' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "cw-costs",
      "name": "POST Cost Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\n\nconst report = res.report || res.data || res;\nconst totalCost = report.total_cost || report.totalCost || 0;\nconst totalRevenue = report.total_revenue || report.totalRevenue || 0;\nconst margin = report.margin || report.avg_margin || 0;\nconst clients = report.clients || report.client_count || 0;\nconst operations = report.operations || report.total_operations || 0;\n\nconst markdown = [\n  ':chart_with_upwards_trend: *Weekly Cost Report — ManageAI*',\n  '',\n  '*Period:* ' + (report.period || 'Weekly') + ' ending ' + new Date().toISOString().split('T')[0],\n  '',\n  '| Metric | Value |',\n  '|--------|-------|',\n  '| Total Cost | $' + Number(totalCost).toFixed(2) + ' |',\n  '| Total Revenue | $' + Number(totalRevenue).toFixed(2) + ' |',\n  '| Margin | ' + Number(margin).toFixed(1) + '% |',\n  '| Active Clients | ' + clients + ' |',\n  '| Total Operations | ' + operations + ' |',\n  '',\n  '_Generated by ManageAI Cost Monitor_'\n].join('\\n');\n\nreturn [{ json: {\n  text: markdown,\n  report_markdown: markdown,\n  total_cost: Number(totalCost).toFixed(2),\n  total_revenue: Number(totalRevenue).toFixed(2),\n  margin: Number(margin).toFixed(1),\n  generated_at: new Date().toISOString()\n}}];"
      },
      "id": "cw-transform",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "cw-slack",
      "name": "POST Slack Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Monday 9am": { "main": [[{ "node": "POST Cost Report", "type": "main", "index": 0 }]] },
    "POST Cost Report": { "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]] },
    "Format Report": { "main": [[{ "node": "POST Slack Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
