workflows/cost-weekly-report.json
{
  "name": "Cost Weekly Report - Monday 9am",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field":"cronExpression","expression":"0 9 * * 1"}]
        }
      },
      "id": "cw-schedule", "name": "Every Monday 9am", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');if(!sd.reports)sd.reports=[];if(!sd.total_reports)sd.total_reports=0;sd.total_reports++;return [{json:{report_number:sd.total_reports,week_of:new Date().toISOString().split('T')[0]}}];"
      },
      "id": "cw-track", "name": "Track Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/costs/report",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({period:'weekly'}) }}",
        "options": {"timeout":60000}
      },
      "id": "cw-costs", "name": "POST Cost Report", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET", "url": "https://agenticmakebuilder-production.up.railway.app/costs/summary",
        "options": {"timeout":30000}
      },
      "id": "cw-summary", "name": "GET Cost Summary", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [910, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const reportRes=$('POST Cost Report').first().json;const summaryRes=$input.first().json;const trackInfo=$('Track Report').first().json;const report=reportRes.report||reportRes.data||reportRes;const summary=summaryRes.summary||summaryRes.data||summaryRes;const totalCost=report.total_cost||report.totalCost||summary.total_cost||0;const totalRevenue=report.total_revenue||report.totalRevenue||0;const margin=report.margin||report.avg_margin||0;const clients=report.clients||report.client_count||0;const operations=report.operations||report.total_operations||0;const sd=$getWorkflowStaticData('global');sd.reports.push({report_number:trackInfo.report_number,week_of:trackInfo.week_of,total_cost:Number(totalCost).toFixed(2),generated_at:new Date().toISOString()});if(sd.reports.length>12)sd.reports=sd.reports.slice(-12);const prevReport=sd.reports.length>1?sd.reports[sd.reports.length-2]:null;const costTrend=prevReport?((totalCost-parseFloat(prevReport.total_cost))/parseFloat(prevReport.total_cost)*100).toFixed(1)+'%':'N/A';const markdown=[':chart_with_upwards_trend: *Weekly Cost Report #'+trackInfo.report_number+' — ManageAI*','','*Period:* Week ending '+trackInfo.week_of,'','| Metric | Value |','|--------|-------|','| Total Cost | $'+Number(totalCost).toFixed(2)+' |','| Total Revenue | $'+Number(totalRevenue).toFixed(2)+' |','| Margin | '+Number(margin).toFixed(1)+'% |','| Active Clients | '+clients+' |','| Total Operations | '+operations+' |','| Cost Trend (WoW) | '+costTrend+' |','','_Generated by ManageAI Cost Monitor (Report #'+trackInfo.report_number+')_'].join('\\n');return [{json:{text:markdown,report_number:trackInfo.report_number,total_cost:Number(totalCost).toFixed(2),cost_trend:costTrend,generated_at:new Date().toISOString()}}];"
      },
      "id": "cw-transform", "name": "Format Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text:$json.text}) }}",
        "options": {"timeout":10000}
      },
      "id": "cw-slack", "name": "POST Slack Report", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1350, 300], "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Monday 9am": {"main":[[{"node":"Track Report","type":"main","index":0}]]},
    "Track Report": {"main":[[{"node":"POST Cost Report","type":"main","index":0}]]},
    "POST Cost Report": {"main":[[{"node":"GET Cost Summary","type":"main","index":0}]]},
    "GET Cost Summary": {"main":[[{"node":"Format Report","type":"main","index":0}]]},
    "Format Report": {"main":[[{"node":"POST Slack Report","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}