workflows/daniel-sales-followup.json
{
  "name": "Daniel - Sales Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daniel/followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "daniel-followup"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst customer_name = body.customer_name;\nif (!customer_name) throw new Error('Missing required field: customer_name');\n\nreturn [{ json: {\n  customer_name,\n  company: body.company || '',\n  last_interaction: body.last_interaction || '',\n  deal_stage: body.deal_stage || 'discovery'\n}}];"
      },
      "id": "d1-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona: 'daniel', customer_name: $json.customer_name, company: $json.company, last_interaction: $json.last_interaction, deal_stage: $json.deal_stage }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "d1-http",
      "name": "POST Persona Daniel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst validated = $('Validate Input').first().json;\n\n// Error check: if response has error field or HTTP error\nconst hasError = res.error || res.statusCode >= 400 || res.code === 'ETIMEDOUT';\nconst isRetryable = res.statusCode === 503;\n\nreturn [{ json: {\n  response: res,\n  validated,\n  has_error: !!hasError,\n  is_retryable: !!isRetryable\n}}];"
      },
      "id": "d1-error-check",
      "name": "Error Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "d1-retry-cond",
              "leftValue": "={{ $json.is_retryable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d1-if-retry",
      "name": "Needs Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Wait 5 seconds before retry\nawait new Promise(resolve => setTimeout(resolve, 5000));\nconst validated = $json.validated;\nreturn [{ json: validated }];"
      },
      "id": "d1-wait-retry",
      "name": "Wait 5s Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona: 'daniel', customer_name: $json.customer_name, company: $json.company, last_interaction: $json.last_interaction, deal_stage: $json.deal_stage }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "d1-http-retry",
      "name": "POST Retry Daniel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst errorCheck = $('Error Check').first().json;\nconst validated = errorCheck.validated;\nconst originalRes = errorCheck.has_error ? res : errorCheck.response;\n\nconst stages = {\n  discovery: 'Schedule discovery call within 48 hours',\n  proposal: 'Send proposal follow-up within 24 hours',\n  negotiation: 'Prepare counter-offer or schedule closing call',\n  closed_won: 'Send onboarding welcome package',\n  closed_lost: 'Add to nurture sequence for 90-day re-engage'\n};\n\nconst templateMap = {\n  negotiation: 'closing-template',\n  discovery: 'intro-template',\n  proposal: 'proposal-template'\n};\n\nconst dealStage = originalRes.deal_stage || validated.deal_stage || 'discovery';\nconst crmNeeded = dealStage === 'negotiation' || dealStage === 'closed_won' || dealStage === 'closed_lost';\n\nreturn [{ json: {\n  follow_up_message: originalRes.message || originalRes.response || originalRes.content || 'Follow-up generated by Daniel persona',\n  next_action: stages[dealStage] || 'Review account and schedule next touchpoint',\n  deal_stage: dealStage,\n  customer_name: originalRes.customer_name || validated.customer_name,\n  company: originalRes.company || validated.company,\n  recommended_template: templateMap[dealStage] || 'general-followup-template',\n  crm_update_needed: crmNeeded,\n  priority: dealStage === 'negotiation' ? 'high' : 'medium',\n  sent_at: new Date().toISOString()\n}}];"
      },
      "id": "d1-transform",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      },
      "id": "d1-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "POST Persona Daniel", "type": "main", "index": 0 }]] },
    "POST Persona Daniel": { "main": [[{ "node": "Error Check", "type": "main", "index": 0 }]] },
    "Error Check": { "main": [[{ "node": "Needs Retry?", "type": "main", "index": 0 }]] },
    "Needs Retry?": {
      "main": [
        [{ "node": "Wait 5s Retry", "type": "main", "index": 0 }],
        [{ "node": "Transform Response", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5s Retry": { "main": [[{ "node": "POST Retry Daniel", "type": "main", "index": 0 }]] },
    "POST Retry Daniel": { "main": [[{ "node": "Transform Response", "type": "main", "index": 0 }]] },
    "Transform Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
