workflows/daniel-sales-followup.json
{
  "name": "Daniel - Sales Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daniel/followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "daniel-followup"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst customer_name = body.customer_name;\nif (!customer_name) throw new Error('Missing required field: customer_name');\n\nreturn [{ json: {\n  customer_name,\n  company: body.company || '',\n  last_interaction: body.last_interaction || '',\n  deal_stage: body.deal_stage || 'discovery'\n}}];"
      },
      "id": "d1-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona: 'daniel', customer_name: $json.customer_name, company: $json.company, last_interaction: $json.last_interaction, deal_stage: $json.deal_stage }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "d1-http",
      "name": "POST Persona Daniel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\n\nconst stages = {\n  discovery: 'Schedule discovery call within 48 hours',\n  proposal: 'Send proposal follow-up within 24 hours',\n  negotiation: 'Prepare counter-offer or schedule closing call',\n  closed_won: 'Send onboarding welcome package',\n  closed_lost: 'Add to nurture sequence for 90-day re-engage'\n};\n\nconst dealStage = res.deal_stage || $('Validate Input').first().json.deal_stage || 'discovery';\n\nreturn [{ json: {\n  follow_up_message: res.message || res.response || res.content || 'Follow-up generated by Daniel persona',\n  next_action: stages[dealStage] || 'Review account and schedule next touchpoint',\n  deal_stage: dealStage,\n  customer_name: res.customer_name || $('Validate Input').first().json.customer_name,\n  company: res.company || $('Validate Input').first().json.company,\n  sent_at: new Date().toISOString()\n}}];"
      },
      "id": "d1-transform",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      },
      "id": "d1-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "POST Persona Daniel", "type": "main", "index": 0 }]] },
    "POST Persona Daniel": { "main": [[{ "node": "Transform Response", "type": "main", "index": 0 }]] },
    "Transform Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
