workflows/knowledge-sync.json
{
  "name": "Knowledge Sync - Daily 6am",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      },
      "id": "ks-schedule", "name": "Every Day 6am", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');if(!sd.runs)sd.runs=[];sd.runs.push({started_at:new Date().toISOString(),status:'started'});if(sd.runs.length>30)sd.runs=sd.runs.slice(-30);return [{json:{run_id:sd.runs.length,started_at:new Date().toISOString()}}];"
      },
      "id": "ks-track-start", "name": "Track Start", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET", "url": "https://agenticmakebuilder-production.up.railway.app/health",
        "options": {"timeout":15000}
      },
      "id": "ks-health", "name": "Step 1 - Health Check", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res=$input.first().json;const isHealthy=res.status==='ok'||res.status==='healthy'||!res.error;if(!isHealthy){return [{json:{abort:true,reason:'System unhealthy: '+JSON.stringify(res)}}];}return [{json:{abort:false,health:res}}];"
      },
      "id": "ks-check", "name": "Check Health", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive":true,"leftValue":""},
          "conditions": [{"id":"ks-if-cond","leftValue":"={{ $json.abort }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],
          "combinator": "and"
        }
      },
      "id": "ks-if", "name": "System Healthy?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/persona/context",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({action:'reindex'}) }}",
        "options": {"timeout":60000}
      },
      "id": "ks-reindex", "name": "Step 2 - Reindex", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1350, 200], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({persona:'rebecka',message:'Generate daily briefing summary for all active projects'}) }}",
        "options": {"timeout":60000}
      },
      "id": "ks-briefing", "name": "Step 3 - Daily Briefing", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1570, 200], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/costs/track",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({period:'daily'}) }}",
        "options": {"timeout":30000}
      },
      "id": "ks-costs", "name": "Step 4 - Daily Costs", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1790, 200], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const briefingRes=$('Step 3 - Daily Briefing').first().json;const costsRes=$input.first().json;const briefing=briefingRes.message||briefingRes.response||briefingRes.content||'No briefing generated';const cost=costsRes.total_cost||costsRes.cost||'N/A';const sd=$getWorkflowStaticData('global');const lastRun=sd.runs&&sd.runs.length?sd.runs[sd.runs.length-1]:null;if(lastRun){lastRun.status='completed';lastRun.completed_at=new Date().toISOString();lastRun.cost=cost;}if(!sd.total_runs)sd.total_runs=0;sd.total_runs++;sd.last_successful=new Date().toISOString();const summary=':sunrise: *Daily Knowledge Sync Complete*\\n\\n'+'*Briefing:* '+briefing.substring(0,500)+'\\n'+'*Daily Cost:* $'+cost+'\\n'+'*Total Runs:* '+sd.total_runs+'\\n'+'*Sync Time:* '+new Date().toISOString();return [{json:{text:summary,sync_complete:true,run_number:sd.total_runs}}];"
      },
      "id": "ks-format", "name": "Format Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2010, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text:$json.text}) }}",
        "options": {"timeout":10000}
      },
      "id": "ks-slack", "name": "Step 5 - POST Slack", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2230, 200], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');const lastRun=sd.runs&&sd.runs.length?sd.runs[sd.runs.length-1]:null;if(lastRun){lastRun.status='aborted';lastRun.reason='system_unhealthy';}if(!sd.abort_count)sd.abort_count=0;sd.abort_count++;return [{json:{status:'system_unhealthy_abort',abort_count:sd.abort_count,checked_at:new Date().toISOString()}}];"
      },
      "id": "ks-abort", "name": "Abort - Unhealthy", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1350, 400]
    }
  ],
  "connections": {
    "Every Day 6am": {"main":[[{"node":"Track Start","type":"main","index":0}]]},
    "Track Start": {"main":[[{"node":"Step 1 - Health Check","type":"main","index":0}]]},
    "Step 1 - Health Check": {"main":[[{"node":"Check Health","type":"main","index":0}]]},
    "Check Health": {"main":[[{"node":"System Healthy?","type":"main","index":0}]]},
    "System Healthy?": {"main":[
      [{"node":"Step 2 - Reindex","type":"main","index":0}],
      [{"node":"Abort - Unhealthy","type":"main","index":0}]
    ]},
    "Step 2 - Reindex": {"main":[[{"node":"Step 3 - Daily Briefing","type":"main","index":0}]]},
    "Step 3 - Daily Briefing": {"main":[[{"node":"Step 4 - Daily Costs","type":"main","index":0}]]},
    "Step 4 - Daily Costs": {"main":[[{"node":"Format Summary","type":"main","index":0}]]},
    "Format Summary": {"main":[[{"node":"Step 5 - POST Slack","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}