workflows/persona-compare.json
{
  "name": "Persona Compare",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "persona/compare", "responseMode": "responseNode", "options": {} },
      "id": "pcomp-webhook", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 300], "webhookId": "persona-compare"
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json;const body=input.body||input;\nif(!body.message)throw new Error('Missing: message');\nconst personas=body.personas||['daniel','sarah'];\nreturn [{json:{message:body.message,personas,client_id:body.client_id||''}}];"
      },
      "id": "pcomp-validate", "name": "Validate Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({persona:'daniel',message:$json.message,client_id:$json.client_id}) }}",
        "options": {"timeout":15000}
      },
      "id": "pcomp-daniel", "name": "POST Daniel", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({persona:'sarah',message:$('Validate Input').first().json.message,client_id:$('Validate Input').first().json.client_id}) }}",
        "options": {"timeout":15000}
      },
      "id": "pcomp-sarah", "name": "POST Sarah", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [910, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const danielRes=$('POST Daniel').first().json;const sarahRes=$input.first().json;const validated=$('Validate Input').first().json;const extract=(r)=>{const msg=r.message||r.response||r.content||'';return {response:msg,length:msg.length,word_count:msg.split(/\\s+/).filter(w=>w).length};};const results={daniel:extract(danielRes),sarah:extract(sarahRes)};const lengths=Object.entries(results).map(([p,r])=>({persona:p,length:r.length})).sort((a,b)=>b.length-a.length);return [{json:{message:validated.message,compared_personas:Object.keys(results),results,comparison:{most_detailed:lengths[0]?.persona||'none',shortest:lengths[lengths.length-1]?.persona||'none',response_lengths:Object.fromEntries(Object.entries(results).map(([p,r])=>[p,r.length])),word_counts:Object.fromEntries(Object.entries(results).map(([p,r])=>[p,r.word_count]))},compared_at:new Date().toISOString()}}];"
      },
      "id": "pcomp-compare", "name": "Compare Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1130, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {"responseCode":200} },
      "id": "pcomp-respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main":[[{"node":"Validate Input","type":"main","index":0}]]},
    "Validate Input": {"main":[[{"node":"POST Daniel","type":"main","index":0}]]},
    "POST Daniel": {"main":[[{"node":"POST Sarah","type":"main","index":0}]]},
    "POST Sarah": {"main":[[{"node":"Compare Results","type":"main","index":0}]]},
    "Compare Results": {"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}