workflows/rebecka-meeting-prep.json
{
  "name": "Rebecka - Meeting Prep",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rebecka/meeting",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r1-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "rebecka-meeting"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst client_name = body.client_name;\nif (!client_name) throw new Error('Missing required field: client_name');\n\nreturn [{ json: {\n  client_name,\n  meeting_type: body.meeting_type || 'general',\n  agenda_items: body.agenda_items || [],\n  attendees: body.attendees || []\n}}];"
      },
      "id": "r1-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona: 'rebecka', client_name: $json.client_name, meeting_type: $json.meeting_type, agenda_items: $json.agenda_items, attendees: $json.attendees }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "r1-http",
      "name": "POST Persona Rebecka",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst validated = $('Validate Input').first().json;\n\nconst brief = res.message || res.response || res.content || 'Meeting brief generated by Rebecka persona';\n\nconst agendaItems = validated.agenda_items || [];\nconst agendaFormatted = agendaItems.length > 0\n  ? agendaItems.map((item, i) => (i + 1) + '. ' + item).join('\\n')\n  : '1. Introductions\\n2. Agenda review\\n3. Open discussion\\n4. Next steps';\n\nconst attendeeList = validated.attendees || [];\n\nconst prepNotes = [\n  '**Meeting Type:** ' + validated.meeting_type,\n  '**Client:** ' + validated.client_name,\n  '**Attendees:** ' + (attendeeList.length > 0 ? attendeeList.join(', ') : 'TBD'),\n  '',\n  '### Preparation Notes',\n  brief,\n  '',\n  '### Agenda',\n  agendaFormatted\n].join('\\n');\n\nreturn [{ json: {\n  meeting_brief: brief,\n  agenda_formatted: agendaFormatted,\n  prep_notes: prepNotes,\n  send_to: attendeeList,\n  client_name: validated.client_name,\n  meeting_type: validated.meeting_type,\n  prepared_at: new Date().toISOString()\n}}];"
      },
      "id": "r1-transform",
      "name": "Build Meeting Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      },
      "id": "r1-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "POST Persona Rebecka", "type": "main", "index": 0 }]] },
    "POST Persona Rebecka": { "main": [[{ "node": "Build Meeting Brief", "type": "main", "index": 0 }]] },
    "Build Meeting Brief": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
