workflows/sample-make-equivalent.json
{
  "name": "ManageAI - Make Equivalent Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "plan-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nif (!body) {\n  throw new Error('Request body is required');\n}\n\nconst request = body.original_request || body.prompt || '';\nif (!request) {\n  throw new Error('Missing required field: original_request or prompt');\n}\n\nconst payload = {\n  customer_name: body.customer_name || 'n8n-client',\n  original_request: request,\n  ticket_summary: body.ticket_summary || request,\n  business_objective: body.business_objective || request,\n  trigger_type: body.trigger_type || 'webhook',\n  trigger_description: body.trigger_description || 'Triggered via webhook',\n  processing_steps: body.processing_steps || ['process_data via http'],\n  output_action: body.output_action || 'Return result via http',\n  expected_output: body.expected_output || 'JSON response with processed data'\n};\n\nreturn [{ json: payload }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-plan-request",
      "name": "POST to AgenticMakeBuilder /plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Check if this is an error response (from continueRegularOutput)\nif (response.ready_for_build === false) {\n  return [{ json: {\n    status: 'clarification_needed',\n    ready_for_build: false,\n    clarification_questions: response.clarification_questions || [],\n    hint: response.hint || 'Resubmit with structured fields',\n    metadata: { source: 'agenticmakebuilder', bridge: 'n8n', timestamp: new Date().toISOString() }\n  }}];\n}\n\nreturn [{ json: {\n  status: 'completed',\n  ready_for_build: response.ready_for_build || true,\n  delivery_report: response.delivery_report || null,\n  plan_dict: response.plan_dict || null,\n  confidence: response.confidence || {},\n  artifacts: response.artifacts || [],\n  metadata: { source: 'agenticmakebuilder', bridge: 'n8n', timestamp: new Date().toISOString() }\n}}];"
      },
      "id": "transform-response",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 520]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn [{\n  json: {\n    error: true,\n    message: error.message || 'Unknown error in plan workflow',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 520]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "POST to AgenticMakeBuilder /plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to AgenticMakeBuilder /plan": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
