workflows/sarah-content-generator.json
{
  "name": "Sarah - Content Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah/content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s1-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sarah-content"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst topic = body.topic;\nif (!topic) throw new Error('Missing required field: topic');\n\nconst validFormats = ['blog', 'email', 'social'];\nconst fmt = (body.format || 'blog').toLowerCase();\nif (!validFormats.includes(fmt)) throw new Error('Invalid format. Must be: blog, email, or social');\n\nreturn [{ json: {\n  topic,\n  format: fmt,\n  target_audience: body.target_audience || 'general',\n  tone: body.tone || 'professional'\n}}];"
      },
      "id": "s1-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agenticmakebuilder-production.up.railway.app/persona/test",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ persona: 'sarah', topic: $json.topic, format: $json.format, target_audience: $json.target_audience, tone: $json.tone }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "s1-http",
      "name": "POST Persona Sarah",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst validated = $('Validate Input').first().json;\nconst content = res.message || res.response || res.content || 'Content generated by Sarah persona';\n\nconst formatMeta = {\n  blog: { label: 'Blog Post', minWords: 300 },\n  email: { label: 'Email', minWords: 50 },\n  social: { label: 'Social Post', minWords: 20 }\n};\nconst meta = formatMeta[validated.format] || formatMeta.blog;\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn [{ json: {\n  content,\n  format: validated.format,\n  format_label: meta.label,\n  topic: validated.topic,\n  target_audience: validated.target_audience,\n  tone: validated.tone,\n  word_count: wordCount,\n  created_at: new Date().toISOString()\n}}];"
      },
      "id": "s1-transform",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      },
      "id": "s1-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "POST Persona Sarah", "type": "main", "index": 0 }]] },
    "POST Persona Sarah": { "main": [[{ "node": "Transform Response", "type": "main", "index": 0 }]] },
    "Transform Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
