workflows/webhook-registry-list.json
{
  "name": "Webhook Registry - List",
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "registry/list", "responseMode": "responseNode", "options": {} },
      "id": "wrl-webhook", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 300], "webhookId": "registry-list"
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json;\nconst query=input.query||input.params||{};\nconst ownerFilter=(query.owner||'').toLowerCase();\nconst versionFilter=query.version||'';\nconst WEBHOOKS=[\n  {path:'/webhook/ping',name:'Ping/Pong',owner:'system',required_fields:[],output_fields:['status','message'],version:'1',status:'active'},\n  {path:'/webhook/plan',name:'Make Equivalent',owner:'system',required_fields:['original_request'],output_fields:['status','plan_dict'],version:'1',status:'active'},\n  {path:'/webhook/daniel/followup',name:'Daniel Sales Follow-Up',owner:'daniel',required_fields:['customer_name'],output_fields:['follow_up_message','recommended_template','priority'],version:'2',status:'active'},\n  {path:'/webhook/sarah/content',name:'Sarah Content Generator',owner:'sarah',required_fields:['topic'],output_fields:['content','seo_keywords','reading_time_minutes'],version:'2',status:'active'},\n  {path:'/webhook/andrew/report',name:'Andrew Ops Report',owner:'andrew',required_fields:['client_id'],output_fields:['report_markdown','pipeline_summary','data_sources'],version:'2',status:'active'},\n  {path:'/webhook/rebecka/meeting',name:'Rebecka Meeting Prep',owner:'rebecka',required_fields:['client_name'],output_fields:['meeting_brief','calendar_block','pre_read'],version:'2',status:'active'},\n  {path:'/webhook/project/pipeline',name:'Full Project Pipeline',owner:'system',required_fields:['customer_name','original_request','trigger_type','output_action'],output_fields:['project_id','plan','verification','cost_estimate'],version:'2',status:'active'},\n  {path:'/webhook/persona/select',name:'Persona Selector',owner:'system',required_fields:['customer_name'],output_fields:['selected_persona','persona_reason','response'],version:'2',status:'active'},\n  {path:'/webhook/briefing/batch',name:'Batch Briefing',owner:'rebecka',required_fields:['client_ids'],output_fields:['briefings','total'],version:'2',status:'active'},\n  {path:'/webhook/alerts/route',name:'Alert Router',owner:'system',required_fields:['alert_type'],output_fields:['routed_to','persona_response','slack_notified'],version:'2',status:'active'},\n  {path:'/webhook/makecom/deploy',name:'Make.com Deploy',owner:'system',required_fields:['project_id','scenario_name','blueprint'],output_fields:['status','scenario_id','make_url'],version:'3',status:'active'},\n  {path:'/webhook/makecom/status',name:'Make.com Status',owner:'system',required_fields:['scenario_id'],output_fields:['health_score','health_label','recommendation'],version:'3',status:'active'},\n  {path:'/webhook/makecom/teardown',name:'Make.com Teardown',owner:'system',required_fields:['scenario_id','project_id','confirm'],output_fields:['torn_down','logged'],version:'3',status:'active'},\n  {path:'/webhook/makecom/run',name:'Make.com Run',owner:'system',required_fields:['scenario_id'],output_fields:['execution_id','status'],version:'3',status:'active'},\n  {path:'/webhook/makecom/monitor',name:'Make.com Monitor',owner:'system',required_fields:[],output_fields:['total','healthy','failing','alerts'],version:'3',status:'active'},\n  {path:'/webhook/registry/register',name:'Registry Register',owner:'system',required_fields:['webhook_name','path','description'],output_fields:['registered','entry'],version:'3',status:'active'},\n  {path:'/webhook/registry/list',name:'Registry List',owner:'system',required_fields:[],output_fields:['total','webhooks'],version:'3',status:'active'},\n  {path:'/webhook/registry/test',name:'Registry Test',owner:'system',required_fields:['path'],output_fields:['passed','response_time_ms'],version:'3',status:'active'},\n  {path:'/webhook/errors/capture',name:'Error Capture',owner:'system',required_fields:['source_workflow','error_message'],output_fields:['error_id','category','retry_eligible'],version:'3',status:'active'},\n  {path:'/webhook/errors/list',name:'Error List',owner:'system',required_fields:[],output_fields:['total','errors','summary'],version:'3',status:'active'},\n  {path:'/webhook/errors/replay',name:'Error Replay',owner:'system',required_fields:[],output_fields:['replayed','succeeded','still_failing'],version:'3',status:'active'},\n  {path:'/webhook/errors/resolve',name:'Error Resolve',owner:'system',required_fields:['error_id','resolution_note'],output_fields:['resolved'],version:'3',status:'active'},\n  {path:'/webhook/analytics/usage',name:'Analytics Usage',owner:'system',required_fields:['workflow_name'],output_fields:['tracked','total_calls_today'],version:'3',status:'active'},\n  {path:'/webhook/analytics/report',name:'Analytics Report',owner:'system',required_fields:[],output_fields:['total_calls','error_rate','most_used_workflow'],version:'3',status:'active'},\n  {path:'/webhook/analytics/cost',name:'Analytics Cost',owner:'system',required_fields:[],output_fields:['amb_reported_cost','n8n_tracked_tokens'],version:'3',status:'active'},\n  {path:'/webhook/tenant/route',name:'Tenant Router',owner:'system',required_fields:['tenant_id','request_type'],output_fields:['routed_to','persona_response','tier'],version:'3',status:'active'},\n  {path:'/webhook/tenant/config',name:'Tenant Config',owner:'system',required_fields:['tenant_id','action'],output_fields:['config'],version:'3',status:'active'},\n  {path:'/webhook/persona/chain',name:'Persona Chain',owner:'system',required_fields:['chain','initial_payload'],output_fields:['results','final_output'],version:'3',status:'active'},\n  {path:'/webhook/persona/compare',name:'Persona Compare',owner:'system',required_fields:['message'],output_fields:['results','comparison'],version:'3',status:'active'},\n  {path:'/webhook/persona/memory-sync',name:'Persona Memory Sync',owner:'system',required_fields:['persona','client_id','interaction_summary'],output_fields:['synced','memory_stored'],version:'3',status:'active'}\n];\nlet filtered=WEBHOOKS;\nif(ownerFilter)filtered=filtered.filter(w=>w.owner===ownerFilter);\nif(versionFilter)filtered=filtered.filter(w=>w.version===versionFilter);\nreturn [{json:{total:WEBHOOKS.length,filtered:filtered.length,webhooks:filtered}}];"
      },
      "id": "wrl-list", "name": "List Webhooks", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {"responseCode":200} },
      "id": "wrl-respond", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main":[[{"node":"List Webhooks","type":"main","index":0}]]},
    "List Webhooks": {"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}
