workflows/webhook-health-check.json
{
  "name": "Webhook Health Check - 30min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "hc-schedule",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const base = 'https://n8n-production-13ed.up.railway.app';\nconst checks = [\n  { workflow: 'Daniel - Sales Follow-Up', webhook: base + '/webhook/daniel/followup', method: 'POST', payload: { customer_name: 'HealthCheck', company: 'Test', deal_stage: 'discovery', health_check: true } },\n  { workflow: 'Sarah - Content Generator', webhook: base + '/webhook/sarah/content', method: 'POST', payload: { topic: 'Health check test', format: 'blog', health_check: true } },\n  { workflow: 'Andrew - Ops Report', webhook: base + '/webhook/andrew/report', method: 'POST', payload: { client_id: 'health-check', report_type: 'weekly', health_check: true } },\n  { workflow: 'Rebecka - Meeting Prep', webhook: base + '/webhook/rebecka/meeting', method: 'POST', payload: { client_name: 'HealthCheck', meeting_type: 'test', health_check: true } },\n  { workflow: 'Full Project Pipeline', webhook: base + '/webhook/project/pipeline', method: 'POST', payload: { customer_name: 'HealthCheck', original_request: 'Health check', trigger_type: 'webhook', output_action: 'test', health_check: true } },\n  { workflow: 'Persona Selector', webhook: base + '/webhook/persona/select', method: 'POST', payload: { customer_name: 'HealthCheck', request_type: 'test', department: 'ops', urgency: 'low', health_check: true } }\n];\n\nreturn checks.map(c => ({ json: c }));"
      },
      "id": "hc-config",
      "name": "Configure Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": { "timeout": 45000 }
      },
      "id": "hc-request",
      "name": "Health Check Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst configs = $('Configure Checks').all();\n\nconst results = items.map((item, i) => {\n  const config = configs[i]?.json || {};\n  const res = item.json;\n  const hasError = res.error || res.statusCode >= 400;\n  return {\n    workflow: config.workflow || 'Unknown',\n    webhook: config.webhook || 'Unknown',\n    status: hasError ? 'FAIL' : 'PASS',\n    http_status: res.statusCode || 200\n  };\n});\n\nconst allHealthy = results.every(r => r.status === 'PASS');\nconst failCount = results.filter(r => r.status === 'FAIL').length;\n\nlet slackText = '';\nif (!allHealthy) {\n  const failed = results.filter(r => r.status === 'FAIL');\n  slackText = ':red_circle: *Webhook Health Check FAILED*\\n\\n' +\n    failed.map(f => '- ' + f.workflow + ': ' + f.status + ' (HTTP ' + f.http_status + ')').join('\\n') +\n    '\\n\\nChecked at: ' + new Date().toISOString();\n}\n\nreturn [{ json: {\n  checked_at: new Date().toISOString(),\n  results,\n  all_healthy: allHealthy,\n  fail_count: failCount,\n  slack_text: slackText\n}}];"
      },
      "id": "hc-analyze",
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "hc-if-cond",
              "leftValue": "={{ $json.all_healthy }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "hc-if",
      "name": "All Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_text }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "hc-slack",
      "name": "POST Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'all_healthy', checked_at: new Date().toISOString() } }];"
      },
      "id": "hc-ok",
      "name": "All OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    }
  ],
  "connections": {
    "Every 30 Minutes": { "main": [[{ "node": "Configure Checks", "type": "main", "index": 0 }]] },
    "Configure Checks": { "main": [[{ "node": "Health Check Request", "type": "main", "index": 0 }]] },
    "Health Check Request": { "main": [[{ "node": "Analyze Results", "type": "main", "index": 0 }]] },
    "Analyze Results": { "main": [[{ "node": "All Healthy?", "type": "main", "index": 0 }]] },
    "All Healthy?": {
      "main": [
        [{ "node": "POST Slack Alert", "type": "main", "index": 0 }],
        [{ "node": "All OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
