workflows/webhook-health-check.json
{
  "name": "Webhook Health Check - 30min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field":"minutes","minutesInterval":30}]
        }
      },
      "id": "hc-schedule", "name": "Every 30 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');if(!sd.total_checks)sd.total_checks=0;sd.total_checks++;if(!sd.history)sd.history=[];const base=$env.N8N_BASE_URL||'https://n8n.manageai.io';const checks=[{workflow:'Daniel - Sales Follow-Up',webhook:base+'/webhook/daniel/followup',method:'POST',payload:{customer_name:'HealthCheck',company:'Test',deal_stage:'discovery',health_check:true}},{workflow:'Sarah - Content Generator',webhook:base+'/webhook/sarah/content',method:'POST',payload:{topic:'Health check test',format:'blog',health_check:true}},{workflow:'Andrew - Ops Report',webhook:base+'/webhook/andrew/report',method:'POST',payload:{client_id:'health-check',report_type:'weekly',health_check:true}},{workflow:'Rebecka - Meeting Prep',webhook:base+'/webhook/rebecka/meeting',method:'POST',payload:{client_name:'HealthCheck',meeting_type:'test',health_check:true}},{workflow:'Full Project Pipeline',webhook:base+'/webhook/project/pipeline',method:'POST',payload:{customer_name:'HealthCheck',original_request:'Health check',trigger_type:'webhook',output_action:'test',health_check:true}},{workflow:'Persona Selector',webhook:base+'/webhook/persona/select',method:'POST',payload:{customer_name:'HealthCheck',request_type:'test',department:'ops',urgency:'low',health_check:true}},{workflow:'Tenant Router',webhook:base+'/webhook/tenant/route',method:'POST',payload:{tenant_id:'demo',request_type:'test',payload:{customer_name:'HealthCheck'}}},{workflow:'Persona Compare',webhook:base+'/webhook/persona/compare',method:'POST',payload:{message:'Health check test'}}];return checks.map(c=>({json:c}));"
      },
      "id": "hc-config", "name": "Configure Checks", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "={{ $json.webhook }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {"timeout":45000}
      },
      "id": "hc-request", "name": "Health Check Request", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const configs=$('Configure Checks').all();const results=items.map((item,i)=>{const config=configs[i]?.json||{};const res=item.json;const hasError=res.error||res.statusCode>=400;return {workflow:config.workflow||'Unknown',webhook:config.webhook||'Unknown',status:hasError?'FAIL':'PASS',http_status:res.statusCode||200};});const allHealthy=results.every(r=>r.status==='PASS');const failCount=results.filter(r=>r.status==='FAIL').length;const sd=$getWorkflowStaticData('global');sd.history.push({check_number:sd.total_checks,at:new Date().toISOString(),all_healthy:allHealthy,fail_count:failCount,checked:results.length});if(sd.history.length>96)sd.history=sd.history.slice(-96);if(!sd.consecutive_healthy)sd.consecutive_healthy=0;if(allHealthy){sd.consecutive_healthy++;}else{sd.consecutive_healthy=0;}let slackText='';if(!allHealthy){const failed=results.filter(r=>r.status==='FAIL');slackText=':red_circle: *Webhook Health Check FAILED* (check #'+sd.total_checks+')\\n\\n'+failed.map(f=>'- '+f.workflow+': '+f.status+' (HTTP '+f.http_status+')').join('\\n')+'\\n\\nChecked at: '+new Date().toISOString();}return [{json:{checked_at:new Date().toISOString(),check_number:sd.total_checks,results,all_healthy:allHealthy,fail_count:failCount,consecutive_healthy:sd.consecutive_healthy,slack_text:slackText}}];"
      },
      "id": "hc-analyze", "name": "Analyze Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive":true,"leftValue":""},
          "conditions": [{"id":"hc-if-cond","leftValue":"={{ $json.all_healthy }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],
          "combinator": "and"
        }
      },
      "id": "hc-if", "name": "All Healthy?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/PLACEHOLDER' }}",
        "sendHeaders": true, "headerParameters": {"parameters":[{"name":"Content-Type","value":"application/json"}]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({text:$json.slack_text}) }}",
        "options": {"timeout":10000}
      },
      "id": "hc-slack", "name": "POST Slack Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1350, 200], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{json:{status:'all_healthy',check_number:$('Analyze Results').first().json.check_number,consecutive_healthy:$('Analyze Results').first().json.consecutive_healthy,checked_at:new Date().toISOString()}}];"
      },
      "id": "hc-ok", "name": "All OK", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1350, 400]
    }
  ],
  "connections": {
    "Every 30 Minutes": {"main":[[{"node":"Configure Checks","type":"main","index":0}]]},
    "Configure Checks": {"main":[[{"node":"Health Check Request","type":"main","index":0}]]},
    "Health Check Request": {"main":[[{"node":"Analyze Results","type":"main","index":0}]]},
    "Analyze Results": {"main":[[{"node":"All Healthy?","type":"main","index":0}]]},
    "All Healthy?": {"main":[
      [{"node":"POST Slack Alert","type":"main","index":0}],
      [{"node":"All OK","type":"main","index":0}]
    ]}
  },
  "settings": {"executionOrder":"v1"}
}